@import "../../../themes/dark.scss";

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 120px;
    padding: 10px;
    margin: 10px;

    a {
        text-align: center;
        color: white;
        text-decoration: none;
    }
}
