<span class="page-title">Облак</span>
<body>
<div class="panel">
    <button type="button">Файл</button>
    <button routerLink="/projects/code-editor">Редактиране</button>
    <input type="file" id="file-input" name="myFile" (change)="uploadItem($event)"> 
    <label class="label_input" for="file-input">
        Отваряне
    </label>
</div>
<div class="panel" id="file-item-panel">
    <div class="file_item">
        <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 0 24 24" width="60">
            <path d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z" fill="#0B35DE"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <h6>file.txt</h6>
    </div>
    <div class="file_item">
        <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 0 24 24" width="60">
            <path d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z" fill="#f5f12d"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <h6>meme.img</h6>
    </div>
    <div class="file_item">
        <svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 0 24 24" width="60">
            <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z" fill="#5F14B4"/>"
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <h6>oop</h6>
    </div>
</div>
</body>
