@import '../../../themes/dark.scss';
@import "../../../styles.scss";

button
{
    margin: 0.5%;
    background-color: $buttons;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 0.8em;
    width: 10%;
    height: auto;
}

input[type="file"]{
    display: none;
}

.label_input {
    margin: 0.5%;
    background-color: $buttons;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 100%;
    width: 10%;
    height: auto;
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: $menu-background;
    margin: 1vw;
    border-radius: 10px;
    color: white;
}