@import '../../../../themes/dark.scss';
@import "../../../../styles.scss";


#main {
  width: 20vw;
  height: 50vh;
}

#main:hover
{
  cursor: pointer;
}
#panel-color-code
{
  width: 94%;
  margin: 5% 3% 5% 3%;
  height: 10%;
}
