@import "../../../../styles.scss";
@import "../../../../themes/dark.scss";

#buttons
{
  display: flex;
  flex-direction: row;
  height: 10%;
}

#main
{
  height: 100%;
}

ngx-monaco-editor
{
  height: 90%;
}

