<div class="container">
    <div class="title">
        Подобрена онлайн обучителна среда
    </div>
    <div class="login-section">
        <form>
            <table>
                <tr>
                    <td>
                        <label for="username">Потребител:</label>
                    </td>
                    <td>
                        <input type="text" id="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Парола:</label>
                    </td>
                    <td>
                        <input type="password" id="password">
                    </td>
                </tr>
            </table>
        </form>
        <div class="buttons">
            <div class="buttons-top-section">
                <button>Вход</button>
            </div>
            <div class="buttons-bottom-section">
                <button>Регистрация</button>
                <button>Гост</button>
            </div>
        </div>
    </div>
</div>
