<div id="main">
    <span class="page-title">Екип и роли</span>
    <div id="team-icons">
        <ul>
            <li>
                <img src="assets/img/lyubo.jpg" class="profile-icon"/>
                Любослав Карев (ф.н. 62144)
            </li>
            <li>
                <img src="assets/img/luchev.jpg" class="profile-icon"/>
                Иван Лучев (ф.н. 62135) - Начело на 
            </li>
            <li>
                <img src="../../../../assets/img/zhechko.jpg" class="profile-icon"/>
                Жечко Попов (ф.н. 62140)
            </li>
            <li>
                <img src="../../../../assets/img/ivo.jpg" class="profile-icon"/>
                Ивайло Иванов (ф.н. 62133)
            </li>
        </ul>
    </div>
    <button id="close-dialog-button"(click)="closeDialog()">Затваряне</button>
</div>
