$page-background: #36393F;
$panel-background: #202225;
$menu-background: #202225;
$user-menu-background: #4F545C;
$active-text: #FFFFFF;
$inactive-text: #AAAAAA;
$buttons: #4E84EE;
$course-1: #2A6264;
$course-2: #203964;
$course-3: #5B1001;
$course-4: #573278;
$course-5: #2A557B;
$course-6: #35642A;
$icon-red: #A70E0E;
$icon-cyan: #1EA295;
$icon-green: #0C9134;
$icon-blue: #0B35DE;
$icon-purple: #5F14B4;
$menu-background-hover: darken($menu-background, 5);
$menu-background-active: darken($menu-background, 5);
$menu-color: #dddddd;
$menu-color-hover: lighten($menu-color, 20);
$menu-font: 20px Ubuntu;
$menu-underline: #505CA3;
$avatar-background: lightgray;
$main-font: Ubuntu;
