$page-background: #1D2C39;
$panel-background: #15182D;
$menu-background: #0B3C67;
$menu-background-hover: darken($menu-background, 5);
$menu-background-active: darken($menu-background, 5);
$menu-color: #dddddd;
$menu-color-hover: lighten($menu-color, 20);
$menu-font: 20px Ubuntu;
$menu-underline: #505CA3;
$avatar-background: lightgray;
