<div class="chat-thread">
    <div class="user"  (click)="toggleChatThread($event)">
        <img [src]="picture" alt="">
        <span class="user-name">{{thread.name}}</span>
    </div>
    <div class="chat-messages">
        <app-chat-message *ngFor="let message of thread.messages" [chatMessage]="message">
        </app-chat-message>
        <div class="input-field">
            <input [(ngModel)]="newMessage" name="write-message" type="text" placeholder="Write message"
                (keyup.enter)="sendMessage()">
            <button class="submit-button" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>