<div id="container">
    <h1>{{forumGroup}}:</h1>
    <div id="forum-name">{{forumName}}</div>
    <div id="forum-threads">
        <app-social-thread-card *ngFor="let index of numbers" [forumThread]="forumThreadsFiltered[index]" [colorCode]="colors[index]">
        </app-social-thread-card>
        <div class="button" id="add-thread"></div>
    </div>
</div>

<div id="darken-page" class="darken-page">

</div>
<div id="dialog-window" class="dialog-window">
 <app-social-thread-messages (dialogController)="toogleMessagesDialog()"></app-social-thread-messages>
</div>
