@import '../../themes/dark.scss';

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: $menu-background;
    height: 51px;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        
        li {
            display: flex;
            height: 100%;
            
            a {
                justify-content: center;
                display: flex;
                flex-direction: column;
                color: $menu-color;
                font: $menu-font;
                text-decoration: none;
                padding: 10px;
                align-items: center;
                
                &:hover {
                    color: $menu-color-hover;
                    background: $menu-background-hover;
                }

                &.active {
                    background: $menu-background-active;
                }
            }
        }

        &.nav-left {
            padding: 0 0 0 40px;
            
            .logo {
                font-weight: 800;
                box-sizing: border-box;
            }
            
            .underline-container {
                width: 100%;
                height: 0px;
                
                .underline {
                    height: 3px;
                    width: 100%;
                    margin-top: 2px;
                    background: $menu-underline;
                }
            }

            .search-bar {
                margin: 8px;
                display: flex;
                input {
                    background: lightslategray;
                    font-size: 20px;
                    max-width: 500px;
                    outline: none;
                    padding: 5px 15px 5px 15px;
                    border-radius: 20px;
                    box-shadow: none;
                    border: 1px solid black;
                    box-shadow: -2px 3px 10px -2px rgba(30, 30, 30, 0.8);

                    &::placeholder {
                        color: #333;
                    }
                }
            }
        }

        &.nav-right {
            padding: 0 20px 0 0;
            li {
                display: flex;
                flex-direction: column;
            }

            .user {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                
                div {
                    display: flex;
                }
                
                .avatar {
                    border-radius: 50%;
                    background-color: $avatar-background;
                    margin-left: 10px;
                    padding: 2px;
                    
                    img {
                        width: 27px;
                        height: 27px;
                    }
                }
            }

            #user-dropdown-container {
                position: absolute;
                width: 170px;
                right: 20px;            
                top: 51px;
                z-index: 99999;

                #user-dropdown {
                    display: flex;
                    flex-direction: column;
                    
                    li {
                        a {
                            background: $menu-background;
                            font-size: 16px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            &:hover {
                                background: $menu-background-hover;
                            }

                            svg {
                                fill: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
