@import "../../../themes/dark.scss";

#chat-container {
    position: fixed;
    top: 51px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 95vh;
    background-color: lighten($page-background, 5);
    color: $active-text;
}
li {
    list-style: none;
}
svg {
    width: 3em;
    height: 3em;
    margin: 1em;
}
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header-name {
    font-size: 2em;
}
