@import "../../../themes/dark.scss";

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
    .search-bar {
        margin: 20px;
        display: flex;
        input {
            background: lightslategray;
            font-size: 20px;
            width: 500px;
            outline: none;
            padding: 5px 15px 5px 15px;
            border-radius: 20px;
            box-shadow: none;
            border: 1px solid black;
            box-shadow: -2px 3px 10px -2px rgba(30, 30, 30, 0.8);

            &::placeholder {
                color: #333;
            }
        }
    }
    .social-threads {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 10% 0 10%;
        max-width: 100%;

    }
    h1{
        color: $inactive-text;
    }
}