<div class="container">
    <div class="search-bar">
        <input type="text" placeholder="Filter..." (input)="filterCards()" [(ngModel)]="searchText">
    </div>
    <div class="social-threads">
        <div class="general-social-card-container">
            <h1>Общи</h1>
            <app-social-card *ngFor="let generalCard of socialGeneralCardsFiltered" [socialCard]="generalCard">
            </app-social-card>
        </div>
        <div class="personal-social-card-container">
            <h1>Курсове</h1>
            <app-social-card *ngFor="let personalCard of socialPersonalCardsFiltered" [socialCard]="personalCard">
            </app-social-card>
        </div>
    </div>
</div>