@import "../../../themes/dark.scss";

div {
    display: flex;
    flex-direction: column;
    background-color: $menu-background;
    padding: 0.5em;
    margin: 0.5em;
    a {
        color: white;
        text-decoration: none;
    }
}
.grades-card {
    width: 25em;
    border-radius: 0.5em;
}
.grades-name {
    font-size: 1.5em;
    text-align: center;
}
.color-strip {
    height: 0.5em;
    margin: 0.25em;
    padding: 0.5em;
}

.weight-header {
    text-align: right;
    position: relative;
    left: 16.5em;
    width: 30%;
    word-wrap: normal;
    padding: 0;
    margin: 0 0 -2em 0;
    text-align: center;
}
