@import "../../../themes/dark.scss";

div {
    display: flex;
    flex-direction: column;
    background-color: $menu-background;
    padding: 10px;
    margin: 10px;
    a {
        color: white;
        text-decoration: none;
    }
}
.grades-card {
    width: 450px;
    border-radius: 10px;
}
.grades-name {
    font-size: 24px;
    text-align: center;
}
.color-strip {
    background-color: $inactive-text;
    height: 5px;
    margin: 10px;
    padding: 10px;
}

.weight-header {
    text-align: right;
    position: relative;
    left: 300px; //--------------- shitty -------------
    width: 25%;
    word-wrap: normal;
    padding: 0;
    margin: 0;
    text-align: center;
}
