@import "../../../themes/dark.scss";

.container {
    display: flex;
    flex-direction: column;
    margin: 0 3em 2em 3em;
    font-family: sans-serif;
    align-content: center;

    a {
        text-decoration: none;
        color: $active-text;
    }

    .course-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 0.4em;

        .course-title {
            margin-right: 1.5em;
            font-size: 1.8em;
            text-decoration: underline;
            color: $active-text;
        }

        .course-sub-title {
            font-size: 1.4em;
            color: $inactive-text;
        }
    }

    .course-content {
        display: flex;
        flex-direction: row;
        // max-width: 1200px;
        .course-sections-left {
            display: flex;
            flex-direction: column;
            flex: 3;
            background: $panel-background;
            border-radius: 0.4em;
            color: $active-text;
            padding: 0.7em;
            margin-right: 0.7em;
            
            .course-sections-title {
                display: flex;
                text-decoration: underline;
                font-size: 1.2em;
                margin: 1.2em 0em 0.7em 0em;
            }
            
            .materials {
                display: flex;
                flex-direction: column;
                .section {
                    display: flex;
                    flex-direction: column;
                    margin: 0.4em;
                    color: $inactive-text;

                    .section-title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        
                        .section-arrow {
                            padding-right: 0.5em;
                            margin-left: -0.5em;
                            svg {
                                width: 30px;
                                height: 30px;
                                fill: $inactive-text;
                            }
                        }
                    }
                }
            }
        }

        .course-sections-right {
            display: flex;
            flex-direction: column;
            flex: 2;

            > * {
                display: flex;
                flex-direction: column;
                background: $panel-background;
                border-radius: 0.4em;
                color: $active-text;
                padding: 0.7em;
                margin-bottom: 0.7em;
            }

            * .title {
                display: flex;
                text-decoration: underline;
                font-size: 1em;
                margin: 0em 0em 0.7em 0em;
            }

            .pinned-materials {

                .pinned-section {
                    margin-left: 1em;
                }
            }

            .announcements {
                ul {
                    list-style: none;

                    li {
                        margin-top: 0.5em;
                        margin-bottom: 1.2em;
                    }

                    .announcement-date {
                        font-size: 0.8em;
                    }

                    .announcement-title {
                        font-size: 1em;
                    }
                }

                .all-anouncements {
                    display: flex;
                    align-self: center;
                    background: $buttons;
                    font-size: 0.8em;
                    border-radius: 1em;
                    margin-top: 2em;
                    padding: 0.5em 1em 0.5em 1em;
                    cursor: pointer;
                }
            }
        }
    }

    .section-content {
        margin-left: 2em;

        ul {
            list-style: none;

            :nth-child(6n + 1) svg {
                fill: $course-1;
            }
            :nth-child(6n + 2) svg {
                fill: $course-2;
            }
            :nth-child(6n + 3) svg {
                fill: $course-3;
            }
            :nth-child(6n + 4) svg {
                fill: $course-4;
            }
            :nth-child(6n + 5) svg {
                fill: $course-5;
            }
            :nth-child(6n + 6) svg {
                fill: $course-6;
            }

            li, li a {
                display: flex;
                flex-direction: row;
                align-items: center;

                * {
                    display: flex;
                }

                svg {
                    width: 2em;
                    height: 2em;
                    margin-right: 0.4em;

                }
            }
        }
    }
}
