/* You can add global styles to this file, and also import other style files */
$page-background: #1D2C39;
$panel-background: #15182D;
$menu-background: #0B3C67;
$primary-color: #ffffff;
$title-font: 20px "Roboto";
