/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

$page-background: #1D2C39;
$panel-background: #15182D;
$menu-background: #0B3C67;
