/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #1d2c39;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: #1D2C39;
        overflow: auto;
    }
}


$page-background: #36393F;
$panel-background: #202225;
$menu-background: #202225;
$user-menu-background: #4F545C;
$active-text: #FFFFFF;
$inactive-text: #AAAAAA;
$buttons: #4E84EE;
$course-1: #2A6264;
$course-2: #203964;
$course-3: #5B1001;
$course-4: #573278;
$course-5: #2A557B;
$course-6: #35642A;

$icon-red: #A70E0E;
$icon-cyan: #1EA295;
$icon-green: #0C9134;
$icon-blue: #0B35DE;
$icon-purple: #5F14B4;
